<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin Home</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/admin/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/admin/modal-video/css/modal-video.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/admin/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/admin/aos/aos.css') }}" rel="stylesheet">
  
    
  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{{ url_for('adminHome') }}">Home</a></li>
          <li class="menu-active"><a href="#">Profile</a></li>
          <li class="menu-active"><a href="#">Calender</a></li>
          <li class="menu-active"><a href="#">Logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <div class="col-xs-12">
      <div class="col-md-12" >
          <h3> Actions</h3>
          <div id="field">
          <div id="field0">
<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="action_id">Action Id</label>  
<div class="col-md-5">
<input id="action_id" name="action_id" type="text" placeholder="" class="form-control input-md">

</div>
</div>
<br><br>
<!-- Text input-->
<div class="form-group">
<label class="col-md-4 control-label" for="action_name">Action Name</label>  
<div class="col-md-5">
<input id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md">

</div>
</div>
<br><br>
 <!-- File Button --> 
<div class="form-group">
<label class="col-md-4 control-label" for="action_json">Action JSON File</label>
<div class="col-md-4">
        <input type="file" id="action_json" name="action_json" class="input-file" accept=".txt,.json">
<div id="action_jsondisplay"></div>
</div>
</div>

</div>
</div>
<!-- Button -->
<div class="form-group">
<div class="col-md-4">
<button id="add-more" name="add-more" class="btn btn-primary">Add More</button>
</div>
</div>
<br><br>
        
      </div>
  </div>
</div>


  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/admin/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/modal-video/js/modal-video.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/superfish/superfish.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/hoverIntent/hoverIntent.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/admin/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/admin/main.js') }}"></script>

</body>

</html>